div.pure-menu-horizontal.pure-menu
  ul.pure-menu-list
    li.pure-menu-item
      .pure-menu-heading.pure-menu-link 
        a(href= './') Chorreador
    li.pure-menu-item
      .pure-menu-heading.pure-menu-link
        a(href= './instrumented') Targets
    li.pure-menu-item
      .pure-menu-heading.pure-menu-link
        a(href= './profiles') Profiles
    li.pure-menu-item
      .pure-menu-heading.pure-menu-link
        a(href= './preference') Preference
