doctype html
html
  head
    title chorreador result page
    meta(charset="utf-8")
    != css('bundle')
    != js('bundle')
    != js('application')
    style.
      .textviewTooltip{
        z-index: 1000;
      }
    script(type="text/javascript").
      var page = !{JSON.stringify(profile.page)}
      var profile = !{JSON.stringify(profile)}
      window.addEventListener('load', function(e) {
        var pstyle = 'border: 1px solid #dfdfdf; padding: 5px;';
        $('#reporter').w2layout({
          name: 'reporter1',
          padding: 4,
          panels: [
            {
               type: 'top',
               size: 25,
               resizable: false,
               style: pstyle,
               content: 'chorreador'
            },
            {
               type: 'left',
               size: 200,
               resizable: true,
               style: pstyle,
               content: $('#sidebar')
            },
            {
               type: 'main',
               style: pstyle,
               content: $('#editor')
            }
          ]
        });
        reporter.showSourceList(page.sources, profile)
        reporter.showSource(page.sources[0], null, profile)
      });
  body
    div#reporter(style="height: 750px; width: 100%; ")
    div#sidebar( style="height: 100%;  width: 100%;")
    div#editor(  style="height: 100%;  width: 100%;")
