doctype html
html
  head
    title chorreador result page
    meta(charset="utf-8")
    != css('bundle')
    != js('bundle')
    != js('application')
    style.
      .textviewTooltip{
        z-index: 1000;
      }
    script(type="text/javascript").
      window.addEventListener('load', function(e) {
        chorreador.showProfileView(!{profile.id}, !{profile.page.id});
      })
  body
    div#reporter(style="height: 750px; width: 100%; ")
    div#sidebar( style="height: 100%;  width: 100%;")
    div#editor(  style="height: 100%;  width: 100%;")
  