doctype html
html
  head
    title chorreador result page
    include ./includes/head.jade
    != js('application')
    script(type="text/javascript").
      window.addEventListener('load', function(e) {
        var profiles = !{JSON.stringify(profiles)}
        chorreador.run(profiles)
      })
  body
    #chorreador-container
